@charset "UTF-8";

/*
	fc : 캘린더 테이블
	fc-mon : 캘린더 요일 (행)
	fc-button : 버튼
*/
.col-lg-12{
	margin: 0;
	padding: 0;
}
.fc{
	background-color: white;
}
.fc-sat{
	color:rgb(70, 191, 240);
}
.fc-sun{
	color:#FF0000;
}
.fc-button{
	background-color: lightgray;
	border-color: white;
	border-radius: 30%;
}
.fc-button:hover{
	background-color: black;
}
.fc-content{
	background-color: rgb(252, 211, 63);
	white-space:pre-wrap !important;
	word-break: keep-all !important;
	/* text-overflow: ellipsis;  */ /* 생략기호로 보여주기 */
}
.fc-content:hover {
  background: rgb(242, 201, 53);
  cursor: pointer;
}
.fc-day-header{
	background-color: lightgray;
}


