@charset "UTF-8";

/*
	fc : 캘린더 테이블
	fc-mon : 캘린더 요일 (행)
	fc-button : 버튼
*/
.col-lg-12{
	margin: 0;
	padding: 0;
}
.fc-sat{
	color:rgb(70, 191, 240);
}
.fc-sun{
	color:#FF0000;
}
.fc-button{
	background-color: rgb(212, 212, 212);
	border-color: white;
	border-radius: 30%;
}
.fc-button:hover{
	background-color: black;
}
.fc-content{
	white-space:pre-wrap !important;
	word-break: keep-all !important;
	/* text-overflow: ellipsis;  */ /* 생략기호로 보여주기 */
}
.fc-content:hover {
	background-color: rgba(252,252,252,0.4);
 	cursor: pointer;
}
.fc-day-header{
	background-color: rgb(212, 212, 212);
}


