<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- null이 들어오면 빈칸이 아니라 NULL로 인식하겠다. -->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.cosmos.b_member.model.vo.Member" alias="Member"/>
    	<typeAlias type="com.kh.cosmos.b_member.model.vo.StudyCategory" alias="StudyCategory"/>
    	<typeAlias type="com.kh.cosmos.b_member.model.vo.Preview" alias="Preview"/>
		<typeAlias type="com.kh.cosmos.d_adminPage.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.cosmos.d_adminPage.model.vo.Master" alias="Master"/>
		<typeAlias type="com.kh.cosmos.e_seat.model.vo.Seat" alias="Seat"/>
		<typeAlias type="com.kh.cosmos.f_studyGroup.model.vo.StudyGroup" alias="StudyGroup"/>
		<typeAlias type="com.kh.cosmos.f_studyGroup.model.vo.StudyGroupRecruit" alias="StudyGroupRecruit"/>
		<typeAlias type="com.kh.cosmos.f_studyGroup.model.vo.MyStudyGroup" alias="MyStudyGroup"/>
		<typeAlias type="com.kh.cosmos.f_studyGroup.model.vo.ApproachGroup" alias="ApproachGroup"/>
		<typeAlias type="com.kh.cosmos.g_studyPlanner.model.vo.StudyPlanner" alias="StudyPlanner"/>
		<typeAlias type="com.kh.cosmos.h_viewBranch.model.vo.ViewBranch" alias="ViewBranch"/>
		<typeAlias type="com.kh.cosmos.i_lecture.model.vo.Lecture" alias="Lecture"/>
		<typeAlias type="com.kh.cosmos.c_myPage.model.vo.Coupon" alias="Coupon"/>
		<typeAlias type="com.kh.cosmos.c_myPage.model.vo.Note" alias="Note"/>
		<typeAlias type="com.kh.cosmos.e_seat.model.vo.SortTable" alias="SortTable"/>
		<typeAlias type="com.kh.cosmos.a_common.Reply" alias="Reply"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/member-mapper.xml"/>
		<mapper resource="mapper/seat-mapper.xml"/>
		<mapper resource="mapper/studyGroup-mapper.xml"/>
		<mapper resource="mapper/studyPlanner-mapper.xml"/>
		<mapper resource="mapper/viewBranch-mapper.xml"/>
		<mapper resource="mapper/lecture-mapper.xml"/>
		<mapper resource="mapper/report-mapper.xml"/>
		<mapper resource="mapper/note-mapper.xml"/>
		<mapper resource="mapper/myPage-mapper.xml"/>
	</mappers>
</configuration>