<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureMapper">
	<select id="getLectureList" resultMap="lectureResultSet">
		select LECTURE_NO, LECTURE_RECORD, LECTURE_TITLE, LECTURE_CONTENT, LECTURE_FEE, MAXPEOPLE, 
       		   ATTENDPEOPLE, LECTURE_DATE, LECTURE_TIME, LECTURE_STATUS, ID, BRANCH_NO, LECTURE_JOB,
       		   LECTURE_END, LECTURE_START, NAME, BRANCH_NAME
		from lecture
    		join member using(id)
    		join branch using(branch_no)
		where lecture_status='OPEN'
		order by lecture_Start desc
	</select>
	
	<resultMap id="lectureResultSet" type="Lecture">
		<id property="lectureNo" column="LECTURE_NO"/>
		<result property="lectureRecord" column="LECTURE_RECORD"/>
		<result property="lectureTitle" column="LECTURE_TITLE"/>
		<result property="lectureContent" column="LECTURE_CONTENT"/>
		<result property="lectureFee" column="LECTURE_FEE"/>
		<result property="maxpeople" column="MAXPEOPLE"/>
		<result property="attendpeople" column="ATTENDPEOPLE"/>
		<result property="lectureDate" column="LECTURE_DATE"/>
		<result property="lectureTime" column="LECTURE_TIME"/>
		<result property="lectureStatus" column="LECTURE_STATUS"/>
		<result property="id" column="ID"/>
		<result property="branchNo" column="BRANCH_NO"/>
		<result property="lectureJob" column="LECTURE_JOB"/>
		<result property="lectureEnd" column="LECTURE_END"/>
		<result property="lectureStart" column="LECTURE_START"/>
		<result property="branchName" column="BRANCH_NAME"/>
	</resultMap>
	
	<insert id="lectureApply" parameterType="Lecture">
		insert into lecture
		values(seq_lid.nextval, #{lectureRecord}, #{lectureTitle}, #{lectureContent}, #{lectureFee}, #{maxpeople},
		       0, sysdate, #{lectureTime}, default, #{id}, #{branchNo}, #{lectureJob}, #{lectureEnd}, #{lectureStart}) 
	</insert>
	
	<select id="getLectureManageList" resultMap="lectureResultSet">
		select LECTURE_NO, LECTURE_RECORD, LECTURE_TITLE, LECTURE_CONTENT, LECTURE_FEE, MAXPEOPLE, 
       		   ATTENDPEOPLE, LECTURE_DATE, LECTURE_TIME, LECTURE_STATUS, ID, BRANCH_NO, LECTURE_JOB,
       		   LECTURE_END, LECTURE_START, NAME, BRANCH_NAME
		from lecture
    		join member using(id)
    		join branch using(branch_no)
		order by lecture_Start desc
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from lecture
	</select>
	
	<select id="selectLecture" parameterType="_int" resultMap="lectureResultSet">
		select LECTURE_NO, LECTURE_RECORD, LECTURE_TITLE, LECTURE_CONTENT, LECTURE_FEE, MAXPEOPLE, 
       		   ATTENDPEOPLE, LECTURE_DATE, LECTURE_TIME, LECTURE_STATUS, ID, BRANCH_NO, LECTURE_JOB,
       		   LECTURE_END, LECTURE_START, NAME, BRANCH_NAME
		from lecture
    		join member using(id)
    		join branch using(branch_no)
    	where LECTURE_NO=#{ lNo }
	</select>
	
	<update id="updateLecture">
		update lecture
		set lecture_status=#{lectureStatus}
		where lecture_no=#{lectureNo}
	</update>
</mapper>
