<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!-- 로그인 -->
 	<select id="selectOne" parameterType="Member" resultMap="memberResultSet">
		select * 
		from member
		where id = #{id}
			  and mstatus = 'Y'
	</select>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>	
		<result property="name" column="NAME"/>	
		<result property="nick" column="NICK"/>	
		<result property="birth" column="BIRTH"/>	
		<result property="email" column="EMAIL"/>	
		<result property="phone" column="PHONE"/>	
		<result property="enroll" column="ENROLL"/>	
		<result property="certifyNum" column="CERTIFY_NUM"/>	
		<result property="certifyStatus" column="CERTIFY_STATUS"/>	
		<result property="mstatus" column="MSTATUS"/>
		<result property="grade" column="GRADE"/>
		<result property="gender" column="GENDER"/>	
	</resultMap>
	
	<!-- 공부카테고리 -->
	<select id="selectList" parameterType="StudyCategory" resultMap="studyCategoryResultSet"> 
		select study_no, study_name
		from study_category 
	</select>
	<resultMap type="StudyCategory" id="studyCategoryResultSet">
		<id property="studyNo" column="STUDY_NO"/>
		<result property="studyName" column="STUDY_NAME"/>
	</resultMap>
	
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into Member
		values(#{id}, #{pwd}, #{name}, #{nick}, #{birth}, #{email}, #{phone}, sysdate, null, default, default, default, #{gender})
		<!-- 																  enroll, certifyNum, certifyStatus, grade, gender -->
	</insert>
	
	<!-- 공부 중인 항목 (기타 포함) -->
	<insert id="insertPreview" parameterType="java.util.List">
		insert all
		<foreach collection="list" item="item" separator=" ">
			into Preview (id, study_no, sp_term, study_etc) values
			(#{item.id}, #{item.studyNo}, #{item.spTerm}, #{item.studyEtc})
			
			<!-- <if test="#{item.studyEtc } == null">
			into Preview (id, study_no, sp_term) values
			(#{item.id}, #{item.studyNo}, #{item.spTerm}, null)
			</if>
			<if>
			into Preview (id, study_no, sp_term) values
			(#{item.id}, #{item.studyNo}, #{item.spTerm}, #{item.studyEtc})
			</if> -->
		</foreach>
		select * from dual
	</insert>
	
	<!-- loginUser의 공부 중인 항목 -->
	<select id="getStudyList" parameterType="Preview" resultMap="previewResultSet">
		select id, study_no, study_name, sp_term, study_etc
		from preview
    		join member using(id)
    		join study_category using(study_no)
		where id = #{id}
	</select>
	
	<!-- 아이디 찾기 --> 
	<select id="idCheck"  parameterType="Member"  resultMap="memberResultSet">
      select id	
      from member
      where name = #{name} and email = #{email} and mstatus = 'Y'
   </select>

	<!-- 비밀번호 변경
	<update id="update_pw" parameterType="member">
		update member set pw = #{pw} where id = #{id}
	</update>
	 -->
	 
	<resultMap type="Preview" id="previewResultSet">
		<id property="id" column="ID"/>
		<result property="studyNo" column="STUDY_NO"/>
		<result property="spTerm" column="SP_TERM"/>
		<result property="studyEtc" column="STUDY_ETC"/>
		<result property="studyName" column="STUDY_NAME"/>
	</resultMap>
		
</mapper>
