<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!-- 로그인 -->
 	<select id="selectOne" parameterType="Member" resultMap="memberResultSet">
		select * 
		from member
		where id = #{id}
			  and mstatus = 'Y'
	</select>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>	
		<result property="name" column="NAME"/>	
		<result property="nick" column="NICK"/>	
		<result property="birth" column="BIRTH"/>	
		<result property="email" column="EMAIL"/>	
		<result property="phone" column="PHONE"/>	
		<result property="enroll" column="ENROLL"/>	
		<result property="certifyNum" column="CERTIFY_NUM"/>	
		<result property="certifyStatus" column="CERTIFY_STATUS"/>	
		<result property="mstatus" column="MSTATUS"/>
		<result property="grade" column="GRADE"/>
		<result property="gender" column="GENDER"/>	
	</resultMap>
	
	<!-- 공부카테고리 -->
	<select id="selectList" parameterType="StudyCategory" resultMap="studyCategoryResultSet"> 
		select *
		from study_category 
	</select>
	<resultMap type="StudyCategory" id="studyCategoryResultSet">
		<id property="studyNo" column="STUDY_NO"/>
		<result property="studyName" column="STUDY_NAME"/>
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into Member
		values(#{id}, #{pwd}, #{name}, #{nick}, #{birth}, #{email}, #{phone}, sysdate, null, default, default, default, #{gender})
	</insert>
	
	
</mapper>
