<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper">
	<select id="noteList" resultMap="noteResultSet" >
	<![CDATA[
		select *
		from note
		where ((noteFromId=#{noteFromId} and noteToId=#{noteToId}) or (noteFromId=#{noteToId} and noteToId=#{noteFromId}))
				and noteNo > #{noteNo} order by noteTime
	]]>
	</select>

	<resultMap id="noteResultSet" type="Note">
		<id property="noteNo" column="NOTE_NO"/>
		<result property="noteFromId" column="NOTE_FROMID"/>
		<result property="noteToId" column="NOTE_TOID"/>
		<result property="noteContent" column="NOTE_CONTENT"/>
		<result property="noteTime" column="NOTE_TIME"/>
		<result property="noteStatus" column="NOTE_STATUS"/>
	</resultMap>
	
	<insert id="noteChatSubmit" parameterType="Note">
		insert into note
		values(seq_noteNo.nextval, #{noteFromId}, #{noteToId}, #{noteContent}, sysdate, default)
	</insert>
</mapper>
