<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyGroupMapper">
	<select id="getStudyList" resultType="string">
		select study_name
		from study_category
	</select>
	
	<select id="getBranchList" resultMap="branchResultMap">
		select branch_no, branch_name
		from branch
	</select>
	
	<resultMap id="branchResultMap" type="ViewBranch">
		<id column="BRANCH_NO" property="branchNo"/>
		<result column="BRANCH_NAME" property="branchName"/>
	</resultMap>
	
	<select id="getStudyNo" parameterType="string" resultType="_int">
		select study_no
		from study_category
		where study_name = #{studyname}
	</select>
	
	<insert id="insertGroup" parameterType="StudyGroup">
		insert into sgroup
		values(seq_sgid.nextval, #{sgName}, #{sgGoal}, #{sgContent}, default, sysdate, #{branchNo}, #{id}, #{studyNo})
	</insert>
	
	<insert id="insertRecruit">
		<if test="recMettingDate != null">
		insert into rec_sgroup
		values(seq_rcid.nextval, #{recTerm}, #{recNum}, sysdate, #{recMettingDate}, seq_sgid.currval)
		</if>
		<if test="recMettingDate == null">
		insert into rec_sgroup
		values(seq_rcid.nextval, #{recTerm}, #{recNum}, sysdate, null, #{sgNo})
		</if>
	</insert>
	
	<select id="getStudyGroup" parameterType="string" resultMap="studyGroupResultSet">
		select sg_no, sg_name
		from sgroup
		where id=#{id} and sg_status='Y'
	</select>
	
	<select id="getIngStudyGroup" parameterType="string" resultMap="studyGroupResultSet">
		select sg_no, sg_name
		from sgroup
		where id=#{id} and (sg_status='Y' or sg_status='N')
	</select>
	
	<select id="getSgStatus" parameterType="_int" resultType="string">
		select sg_status
		from sgroup
		where sg_no = #{sgno}
	</select>
	
	<select id="getRecMultiDetail" parameterType="_int" resultMap="groupRecruitResultSet">
		select *
        from (select sg_no, rsg_no, sg_name, nick, sg_status, study_name, (TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') - TRUNC(SYSDATE)) as D_CLOSE_DATE,
				rsg_num, branch_name, sg_goal, sg_content, msg_met_rule, msg_num, msg_met, msg_rule1, nvl(msg_rule2, '') as msg_rule2, nvl(msg_rule3, '') as msg_rule3
            from sgroup
                join m_sgroup using(sg_no)
                join rec_sgroup using(sg_no)
                join member using(id)
                join branch using(branch_no)
                join study_category using(study_no)
            where sg_no = #{sgno}
            order by rsg_no desc)
        where rownum = 1
	</select>
	
	<select id="getRecOnceDetail" parameterType="_int" resultMap="groupRecruitResultSet">
		select *
        from (select sg_no, rsg_no, sg_name, nick, sg_status, study_name, SUBSTR(RSG_TERM, 14) as rsg_term, (TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') - TRUNC(SYSDATE)) as D_CLOSE_DATE,
				rsg_num, branch_name, sg_goal, sg_content, rsg_metting_date
            from sgroup
                join rec_sgroup using(sg_no)
                join member using(id)
                join branch using(branch_no)
                join study_category using(study_no)
            where sg_no = #{sgno}
            order by rsg_no desc)
        where rownum = 1
	</select>
	
	<select id="getMultiDetail" parameterType="_int" resultMap="groupRecruitResultSet">
		select *
        from (select sg_no, sg_name, nick, sg_status, study_name,
				branch_name, sg_goal, sg_content, msg_met_rule, msg_num, msg_met, msg_rule1, nvl(msg_rule2, '') as msg_rule2, nvl(msg_rule3, '') as msg_rule3
            from sgroup
                join m_sgroup using(sg_no)
                join rec_sgroup using(sg_no)
                join member using(id)
                join branch using(branch_no)
                join study_category using(study_no)
            where sg_no = #{sgno}
            order by rsg_no desc)
        where rownum = 1
	</select>
	
	<!-- <select id="getOnceDetail" parameterType="_int" resultMap="groupRecruitResultSet">
		select *
        from (select sg_no, sg_name, nick, sg_status, study_name, (TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') - TRUNC(SYSDATE)) as D_CLOSE_DATE,
				rsg_num, branch_name, sg_goal, sg_content, rsg_metting_date
            from sgroup
                join rec_sgroup using(sg_no)
                join member using(id)
                join branch using(branch_no)
                join study_category using(study_no)
            where sg_no = #{sgno}
            order by rsg_no desc)
        where rownum = 1
	</select> -->
	
	<select id="getApproachStatus" parameterType="hashMap" resultType="_int">
		select count(*)
		from ap_sgroup
		where rsg_no = to_number(#{recno}) and id = #{id}
	</select>
	
	<insert id="insertApp" parameterType="hashMap">
		insert into ap_sgroup
		values(#{id}, to_number(#{recno}), to_char(sysdate,'yyyy.mm.dd hh24:mi'), null, default, to_number(#{sgno}))
	</insert>
	
	<select id="getRecPartNum" parameterType="_int" resultType="_int">
		select count(*)
		from ap_sgroup
		where rsg_no = #{rsgno} and asg_status = 'Y'
	</select>
	
	<select id="getAppList" parameterType="_int" resultMap="ApproachResultSet">
		select id, nick, to_date(substr(asg_date,0,10),'YYYY.MM.DD') as asg_date, asg_dl_date, asg_status
		from ap_sgroup
		join member using(id)
		where rsg_no = #{recno}
		order by to_date(substr(asg_date,0,10),'YYYY.MM.DD') desc
	</select>
	
	<resultMap id="ApproachResultSet" type="ApproachGroup">
		<id property="rsgNo" column="RSG_NO"/>
		<result property="sgNo" column="SG_NO"/>
		<result property="id" column="ID"/>
		<result property="nick" column="NICK"/>
		<result property="asgDate" column="ASG_DATE"/>
		<result property="asgDlDate" column="ASG_DL_DATE"/>
		<result property="asgStatus" column="ASG_STATUS"/>
	</resultMap>
	
	<select id="getAppUserInfo" parameterType="string" resultMap="PreviewResultSet">
		select id, study_no, study_name, sp_term, study_etc
		from preview
		join study_category using(study_no)
		where id=#{id}
	</select>
	
	<resultMap id="PreviewResultSet" type="Preview">
		<id property="id" column="ID"/>
		<result property="nick" column="NICK"/>
		<result property="studyNo" column="STUDY_NO"/>
		<result property="spTerm" column="SP_TERM"/>
		<result property="studyEtc" column="STUDY_ETC"/>
		<result property="studyName" column="STUDY_NAME"/>
	</resultMap>
	
	<select id="getGroupInfoForRec" parameterType="_int" resultMap="groupRecruitResultSet">
		select sg_no, study_name, msg_num, branch_name, msg_met_rule, sg_goal, msg_rule1, msg_rule2, msg_rule3, sg_content
		from sgroup
			join study_category using(study_no)
			join branch using(branch_no)
			join m_sgroup using(sg_no)
		where sg_no = #{sgno}
	</select>
	
	<select id="getIngRecCount" parameterType="_int" resultType="_int">
		select count(*)
		from rec_sgroup
		where sg_no = #{sgno} and TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') >= SYSDATE
	</select>
	
	<select id="getPartMemberNum" parameterType="_int" resultType="_int">
		select count(*)
		from ap_sgroup
		where asg_status = 'Y' and sg_no = #{sgno}
	</select>
	
	<select id="getMsgNum" parameterType="_int" resultType="_int">
		select msg_num
		from m_sgroup
		where sg_no = #{sgNo}
	</select>
	
	<select id="getRecList" parameterType="hashMap" resultMap="groupRecruitResultSet">
		select sg_no, sg_status, rsg_no, study_name, sg_name, (TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') - TRUNC(SYSDATE)) as D_CLOSE_DATE, rsg_num, nick, branch_name, sg_goal, sg_content
		from sgroup g
			right join rec_sgroup r using(sg_no)
		    join study_category using(study_no)
			join branch using(branch_no)
			join member using(id)
			<if test="sortOp != ''">
				<if test="sortOp == 'numAscSort' or sortOp == 'numDescSort'">
					join m_sgroup using(sg_no)
				</if>
			</if>
		where TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') >= TO_DATE(SYSDATE, 'YY/MM/DD')
		<if test="branchOp != ''">
			and branch_name=#{branchOp}
		</if>
		<if test="studyOp != ''">
			and study_name=#{studyOp}
		</if>
		<if test="typeOp != ''">
			<choose>
				<when test="typeOp == 'once'">
					and sg_status = 'N'
				</when>
				<when test="typeOp == 'long'">
					and sg_status = 'Y'
				</when>
			</choose>
		</if>
		<if test="searchType != ''">
			<choose>
				<when test="searchType == 'title'">
					and sg_name like '%'||#{searchText}||'%'
				</when>
				<when test="searchType == 'nick'">
					and nick like '%'||#{searchText}||'%'
				</when>
				<when test="searchType == 'content'">
					and sg_content like '%'||#{searchText}||'%'
				</when>
				<when test="searchType == 'goal'">
					and sg_goal like '%'||#{searchText}||'%'
				</when>
			</choose>
			<if test="reSearchText != ''">
				and (sg_name||nick||sg_content||sg_goal) like '%'||#{reSearchText}||'%'
			</if>
		</if>
		<if test="sortOp != ''">
			<choose>
				<when test="sortOp == 'timeSort'">
					order by sg_no desc
				</when>
				<when test="sortOp == 'numAscSort'">
					order by msg_num asc
				</when>
				<when test="sortOp == 'numDescSort'">
					order by msg_num desc
				</when>
				<when test="sortOp == 'recCloseSort'">
					order by D_CLOSE_DATE asc
				</when>
			</choose>
		</if>
	</select>
	
	<select id="getRecCompleteNum" parameterType="_int" resultType="_int">
		select count(*)
		from ap_sgroup
		where rsg_no = #{recNo} and asg_status = 'Y'
	</select>
	
	<select id="getRecListCount" parameterType="hashMap" resultType="_int">
		select count(*)
		from sgroup g
			right join rec_sgroup r using(sg_no)
		    join study_category using(study_no)
			join branch using(branch_no)
			join member using(id)
			<if test="sortOp != ''">
				<if test="sortOp == 'numAscSort' or sortOp == 'numDescSort'">
					join m_sgroup using(sg_no)
				</if>
			</if>
		where TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') >= TO_DATE(SYSDATE, 'YY/MM/DD')
		<if test="branchOp != ''">
			and branch_name=#{branchOp}
		</if>
		<if test="studyOp != ''">
			and study_name=#{studyOp}
		</if>
		<if test="typeOp != ''">
			<choose>
				<when test="typeOp == 'once'">
					and sg_status = 'N'
				</when>
				<when test="typeOp == 'long'">
					and sg_status = 'Y'
				</when>
			</choose>
		</if>
		<if test="searchType != ''">
			<choose>
				<when test="searchType == 'title'">
					and sg_name like '%'||#{searchText}||'%'
				</when>
				<when test="searchType == 'nick'">
					and nick like '%'||#{searchText}||'%'
				</when>
				<when test="searchType == 'content'">
					and sg_content like '%'||#{searchText}||'%'
				</when>
				<when test="searchType == 'goal'">
					and sg_goal like '%'||#{searchText}||'%'
				</when>
			</choose>
			<if test="reSearchText != ''">
				and (sg_name||nick||sg_content||sg_goal) like '%'||#{reSearchText}||'%'
			</if>
		</if>
		<if test="sortOp != ''">
			<choose>
				<when test="sortOp == 'timeSort'">
					order by sg_no desc
				</when>
				<when test="sortOp == 'numAscSort'">
					order by msg_num asc
				</when>
				<when test="sortOp == 'numDescSort'">
					order by msg_num desc
				</when>
				<when test="sortOp == 'recCloseSort'">
					order by (TO_DATE(SUBSTR(RSG_TERM, 14), 'YY/MM/DD') - TRUNC(SYSDATE)) asc
				</when>
			</choose>
		</if>
	</select>
	
	<resultMap type="StudyGroupRecruit" id="groupRecruitResultSet">
		<id property="sgNo" column="SG_NO"/>
		<id property="recNo" column="RSG_NO"/>
		<id property="recTerm" column="RSG_TERM"/>
		<id property="dCloseDate" column="D_CLOSE_DATE"/>
		<id property="recNum" column="RSG_NUM"/>
		<id property="nick" column="NICK"/>
		<id property="sgStatus" column="SG_STATUS"/>
		<id property="studyName" column="STUDY_NAME"/>
		<id property="rsgMetDate" column="rsg_metting_date"/>
		<id property="msgNum" column="MSG_NUM"/>
		<id property="branchName" column="BRANCH_NAME"/>
		<id property="msgMet" column="MSG_MET"/>
		<id property="msgMetRule" column="MSG_MET_RULE"/>
		<id property="sgName" column="SG_NAME"/>
		<id property="sgStatus" column="SG_STATUS"/>
		<id property="sgGoal" column="SG_GOAL"/>
		<id property="msgRule1" column="MSG_RULE1"/>
		<id property="msgRule2" column="MSG_RULE2"/>
		<id property="msgRule3" column="MSG_RULE3"/>
		<id property="sgContent" column="SG_CONTENT"/>
	</resultMap>
	
	<select id="getStudyGroupInfo" parameterType="_int" resultMap="studyGroupResultSet">
		<!-- select sg_no, sg_name, sg_goal, sg_content, sg_status, branch_no, id, study_name, msg_num, msg_rule1, msg_rule2, msg_rule3, msg_met_rule
	    from sgroup 
	        join m_sgroup using(sg_no)
	        join study_category using(study_no)
	    where sg_no = #{sgno} -->
	    <!-- select distinct sg_no, sg_name, sg_goal, sg_content, sg_status, branch_no, id, study_name, nvl(msg_num, rsg_num) as msg_num, msg_rule1, msg_rule2, msg_rule3, nvl(msg_met_rule, rsg_metting_date) as msg_met_rule
		from sgroup 
		    left join m_sgroup using(sg_no)
		    left join rec_sgroup using(sg_no)
		    join study_category using(study_no)
		where sg_no = #{sgno} -->
		select *
		from (select distinct sg_no, sg_name, sg_goal, sg_content, sg_status, branch_no, id, study_name, nvl(msg_num, rsg_num) as msg_num, msg_rule1, msg_rule2, msg_rule3, nvl(msg_met_rule, rsg_metting_date) as msg_met_rule, rsg_no, substr(rsg_term, 14) as final_rec_date
		        from sgroup 
		            left join m_sgroup using(sg_no)
		            left join rec_sgroup using(sg_no)
		            join study_category using(study_no)
		    where sg_no = #{sgno}
		    order by rsg_no)
		where rownum = 1
	</select>
	
	<resultMap type="StudyGroup" id="studyGroupResultSet">
		<id property="sgNo" column="SG_NO"/>
		<result property="sgName" column="SG_NAME"/>
		<result property="sgGoal" column="SG_GOAL"/>
		<result property="sgContent" column="SG_CONTENT"/>
		<result property="sgStatus" column="SG_STATUS"/>
		<result property="branchNo" column="BRANCH_NO"/>
		<result property="id" column="ID"/>
		<result property="studyNo" column="STUDY_NO"/>
		<result property="studyName" column="STUDY_NAME"/>
		<result property="msgNum" column="MSG_NUM"/>
		<result property="msgRule1" column="MSG_RULE1"/>
		<result property="msgRule2" column="MSG_RULE2"/>
		<result property="msgRule3" column="MSG_RULE3"/>
		<result property="msgMetRule" column="MSG_MET_RULE"/>
		<result property="finalRecDate" column="FINAL_REC_DATE"/>
	</resultMap>
	
	<insert id="insertMultiGroup" parameterType="StudyGroup">
		insert into m_sgroup
		values(#{sgNo}, #{msgNum}, #{msgRule1}, #{msgRule2}, #{msgRule3}, 1, #{msgMetRule})
	</insert>
	
	<update id="updateStudyGroup" parameterType="StudyGroup">
		update sgroup
		set sg_goal=#{sgGoal}, sg_content=#{sgContent}, branch_no=#{branchNo}, sg_status='Y'
		where sg_no=#{sgNo}
	</update>
	
	<update id="updateMultiGroup" parameterType="StudyGroup">
		update m_sgroup
		set msg_num=#{msgNum}, msg_rule1=#{msgRule1}, msg_rule2=#{msgRule2}, msg_rule3=#{msgRule3}, msg_met_rule=#{msgMetRule}
		where sg_no=#{sgNo}
	</update>
	
	<update id="confirmApproach" parameterType="hashMap">
		update ap_sgroup
		set asg_dl_date = sysdate, asg_status =
		<choose>
			<when test="type == 'acc'">'Y'</when>
			<when test="type == 'rej'">'N'</when>
		</choose>
		where id = (select id from member where nick=#{nick}) and rsg_no = to_number(#{recno})
	</update>
</mapper>
