<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyPlannerMapper">
	<select id="getMyPlannerList" resultMap="planResultSet">
		select *
		from plan
			join study_category using(study_no)
		where plan_status='Y' and id=#{ loginUserId }
		order by create_date desc
	</select>
	
	<resultMap id="planResultSet" type="StudyPlanner">
		<id property="planNo" column="PLAN_NO"/>
		<result property="planTitle" column="PLAN_TITLE"/>
		<result property="planContent" column="PLAN_CONTENT"/>
		<result property="planMenu" column="PLAN_MENU"/>
		<result property="todayCheck" column="TODAY_CHECK"/>
		<result property="likeCount" column="LIKE_COUNT"/>
		<result property="hit" column="HIT"/>
		<result property="planStart" column="PLAN_START"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="planStatus" column="PLAN_STATUS"/>
		<result property="openStatus" column="OPEN_STATUS"/>
		<result property="id" column="ID"/>
		<result property="studyNo" column="STUDY_NO"/>
		<result property="studyName" column="STUDY_NAME"/>
		<result property="planEnd" column="PLAN_END"/>
		<result property="nickName" column="NICK"/>
		<result property="planMemo" column="PLAN_MEMO"/>
		<result property="planAllday" column="PLAN_ALLDAY"/>
		<result property="planColor" column="PLAN_COLOR"/>
	</resultMap>
	
	<update id="todayCheck">
		update plan set today_check=#{ todayCheck } where plan_No=#{ planNo }
	</update>
	
	<insert id="insertPlan">
		insert into plan
		values(seq_planid.nextval, #{planTitle}, #{planContent}, #{planMenu}, default, default, 
		default, #{planStart}, sysdate, 'Y', #{openStatus}, #{id}, #{studyNo}, #{planEnd}, #{planMemo}, #{planAllday}, #{planColor})
	</insert>
	
	<select id="selectPlan" parameterType="_int" resultMap="planResultSet">
		select *
		from plan
		where plan_no=#{planNo} and plan_status='Y'
		order by plan_no desc
	</select>
	
	<update id="deletePlan" parameterType="_int">
		update plan
		set plan_status='N'
		where plan_no=#{planNo}
	</update>
	
	<update id="updatePlan">
		update plan
		set plan_title=#{planTitle}, plan_content=#{planContent}, plan_menu=#{planMenu}, plan_start=#{planStart}, 
			create_date=sysdate, open_status=#{openStatus}, study_no=#{studyNo}, plan_end=#{planEnd},
			plan_memo=#{planMemo}, plan_allday=#{planAllday}, plan_color=#{planColor}
		where plan_no=#{planNo}
	</update>
	
	<select id="getAllPlannerList" resultMap="planResultSet">
		select *
		from plan
			join study_category using(study_no)
			join member using(id)
		where plan_status='Y' and open_status='Y'
		order by plan_no desc
	</select>
	
	<select id="getAllListCount" resultType="_int">
		select count(*)
		from plan
		where plan_status='Y' and open_status='Y'
	</select>
	
	<select id="selectReplyList" resultMap="replyResultSet">
		select * 
		from reply
        	join member using(id)
		where PLAN_NO=#{ planNo } and reply_status='Y'
		order by PLAN_NO desc, re_grp_no desc, re_grp_order asc, re_grp_depth asc
	</select>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="replyStatus" column="REPLY_STATUS"/>
		<result property="id" column="ID"/>
		<result property="planNo" column="PLAN_NO"/>
		<result property="reGrpNo" column="RE_GRP_NO"/>
		<result property="reGrpOrder" column="RE_GRP_ORDER"/>
		<result property="reGrpDepth" column="RE_GRP_DEPTH"/>
		<result property="nickName" column="NICK"/>
	</resultMap>
	
	<insert id="insertReply">
		insert into reply
		values(seq_replyid.nextval, #{ replyContent }, sysdate, sysdate, 'Y', #{ id }, #{ planNo }, 
			   seq_replyid.currval, 0, 1)
	</insert>
	
	<update id="updateReply">
		update reply
		set reply_content=#{ replyContent }, modify_date=sysdate
		where reply_no=#{ replyNo }
	</update>
	
	<update id="deleteReply">
		update reply
		set reply_status='N'
		where reply_no=#{ replyNo }
	</update>
	
	
	<insert id="insertReReply">
		insert into reply
		values(seq_replyid.nextval, #{ replyContent }, sysdate, sysdate, 'Y', #{ id }, #{ planNo }, 
			   #{ reGrpNo }, #{ reGrpOrder }+1, #{ reGrpDepth }+1)
	</insert>
	
	<update id="updateReplyOrder">
		update reply
		set re_grp_order=re_grp_order+1 
		where re_grp_no=#{ reGrpNo } and re_grp_order > 0
	</update>
	
	<update id="updateReReplyOrder">
		update reply
		set re_grp_order=re_grp_order+1
		where re_grp_no=#{ reGrpNo } and re_grp_order > #{ reGrpNo }
	</update>
	
	<select id="selectSearchResultCount" resultType="_int">
		select count(*)
		from plan
			join study_category using(study_no)
			join member using(id)
		where plan_status='Y' and open_status='Y'
		<if test="writer != null">
			and nick = #{writer}
		</if>
		<if test="title != null">
			and plan_title like '%'|| #{title} ||'%'
		</if>
		<if	test="content != null">
			and plan_content like '%'|| #{content} ||'%'
		</if>
		order by plan_no desc
	</select>
	
	<select id="selectSearchResultList" resultMap="planResultSet">
		select *
		from plan
			join study_category using(study_no)
			join member using(id)
		where plan_status='Y' and open_status='Y'
		<if test="writer != null">
			and nick = #{writer}
		</if>
		<if test="title != null">
			and plan_title like '%'|| #{title} ||'%'
		</if>
		<if	test="content != null">
			and plan_content like '%'|| #{content} ||'%'
		</if>
		order by plan_no desc
	</select>
	
	<update id="dropPlanUpdate">
		update plan
		set plan_start=#{planStart}, plan_end=#{planEnd}
		where plan_no=#{planNo}
	</update>
	
	<update id="plusHit">
		update plan
		set hit=hit+1
		where plan_no=#{planNo}
	</update>
</mapper>
