<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyGroupMapper">
	<select id="getStudyList" resultType="string">
		select study_name
		from study_category
	</select>
	
	<select id="getBranchList" resultType="string">
		select branch_name
		from branch
	</select>
</mapper>
