<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="viewBranchMapper">

	<!-- viewBranchList -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from branch
	</select>
	<select id="selectBranchList" resultMap="branchResultSet">
		select *
		from branch
		order by branch_no
	</select>
	<resultMap id="branchResultSet" type="ViewBranch">
		<id property="branchNo" column="BRANCH_NO"/>
		<result property="branchName" column="BRANCH_NAME"/>
		<result property="branchAddress" column="BRANCH_ADDRESS"/>
		<result property="branchTel" column="BRANCH_TEL"/>
		<result property="branchContent" column="BRANCH_CONTENT"/>
		<result property="branchTime" column="BRANCH_TIME"/>
		<result property="branchRest" column="BRANCH_REST"/>
		<result property="originalFileName" column="ORGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
		<result property="masterId" column="MASTER_ID"/>
	</resultMap>
	
	
	<!-- viewBranchDetail -->
	<select id="selectBranch" parameterType="_int" resultMap="branchResultSet">
		select *
		from branch
		where branch_no = #{branchNo}
	</select>
	
	<insert id="insertBranchPhoto">
		insert into branch_photo
		values(seq_photoid.nextval, #{branchNo}, #{orginaleFileName}, #{bpPath}, #{bpLevel}, #{bpStatus}, #{renameFileName})
	</insert>

 	<!-- 지점 등록_0426-->
  	<!-- BRANCH 테이블에 insert-->
	<insert id="insertBranch" parameterType="ViewBranch">

		INSERT INTO BRANCH VALUES(SEQ_BID.NEXTVAL, #{branchName}, #{branchAddress}, #{branchTel}, null, null, null
		)
		
	</insert> 
	
	<!-- MASTER 테이블에 insert -->
	<insert  id="insertMaster" parameterType="Master">
	
		INSERT INTO MASTER VALUES (('branch' || SEQ_MASTERID.nextval), 2, seq_bid.currval)
		<!-- nextval 대신에 currentval로 insert해야한다. 현재 등록된 seq_bid.currval  -->
	</insert>
	
	
	<!-- MEMBER 테이블에 insert -->
	<insert  id="insertMember" parameterType="Member">
		insert into member
		values(
			('branch' || seq_masterid.currval),('branch' || seq_masterid.currval),#{name},null,null,null,null,sysdate, null,null, default, 0, null
		)  
	</insert>

	<!-- 지점명 중복체크 -->
	<select id="checkNameDup" resultType="_int" parameterType="string" >
		select count(*)
		from branch
		where branch_name=#{branch_Name}
	</select>
	
	
  	<!--   지점 목록 
	목록 갯수 
	<select id="getListCount" resultType="_int">
		select count(*)
		from branch
	</select> -->
	
<!-- 	조회 -->
	<select id="selectBList" parameterType="_int" resultMap="branchResultSet">
	SELECT BRANCH_NO, MASTER_ID, BRANCH_NAME
	FROM BRANCH
		JOIN MASTER USING(BRANCH_NO)
		ORDER BY BRANCH_NO DESC
	</select>

	 
	<!-- 200508 지점 업데이트 : 경진 --> 
	<update id="updateBranch">
		update branch
		set branch_name = #{branchName}, branch_address = #{branchAddress}, branch_tel = #{branchTel}, branch_content = #{branchContent}, branch_time = #{branchTime}, branch_rest = #{branchRest}
		where branch_no = #{branchNo}
	</update> 
	 
	 
	 
	 
</mapper>
