<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="viewBranchMapper">

	<!-- 지점 등록 -->
	<!-- 지점명 중복체크 -->
	<select id="checkNameDup" parameterType="string" resultType="_int">
		select count(*)
		from branch
		where branch_name=#{branch_Name}
	</select>
	

<!-- 	
	<insert id="insertMaster" parameterType="ViewBranch">
		insert into branch
		values(seq_masterid.nextval, #{branch_Name}, #{branch_Address}, #{branch_Tel},#{branch_Content}, #{branch_Time}, #{branch_Rest}
	</insert>	
-->	
	<insert id="insertMaster" parameterType="Master">
		insert into Master
		values(
		  seq_masterid.nextval,default, seq_bid.nextval
		)
	</insert>


</mapper>
